<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
<!--    <link th:href="@{../../static/css/custom.css}" type="text/css" rel="stylesheet">-->
    <meta charset="UTF-8">
    <title>Listar Pessoas</title>
</head>
<body>
<div th:insert="~{fragmentos/header::header}"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-4">
                    <a th:href="@{/pessoas/inserir-pessoa}" class="btn btn-success">Cadastrar Pessoa</a>
                </div>
                <div class="card-body">
                    <h3>Pessoas</h3>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">RG</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Data de Nascimento</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Ativo?</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pessoa:${listarPessoas}">
                            <th th:text="${pessoa.id}"></th>
                            <th th:text="${pessoa.nome}"></th>
                            <td th:text="${pessoa.rg}"></td>
                            <td th:text="${pessoa.cpf}"></td>
                            <td th:text="${pessoa.dataNascimento}"></td>
                            <td th:text="${pessoa.email}"></td>
                            <td th:text="${pessoa.telefone}"></td>
                            <td th:text="${pessoa.endereco}"></td>
                            <td th:text="${pessoa.ativo} ? 'Ativo' : 'Inativo'"></td>
                            <td th:text="${pessoa.perfil.perfil}"></td>
                            <td>
                                <a th:href="@{/pessoas/deletar-pessoa/{cpf}(cpf=${pessoa.cpf})}" class="btn btn-danger">Deletar</a>
                                <a th:href="@{/pessoas/atualizar-pessoa/{cpf}(cpf=${pessoa.cpf})}" class="btn btn-warning">Atualizar</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>